# Series

In [1]:
import pandas as pd

## Create a Series Object from a List
- A pandas **Series** is a one-dimensional labelled array.
- A Series combines the best features of a list and a dictionary.
- A Series maintains a single collection of ordered values (i.e. a single column of data).
- We can assign each value an identifier, which does not have to *be* unique.

In [2]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [3]:
#dtype = datatype of objects held in the series

In [4]:
lottery_numbers = [4, 8, 15, 23, 42, 3]
pd.Series(lottery_numbers)

0     4
1     8
2    15
3    23
4    42
5     3
dtype: int64

In [5]:
registrations = [True, False, False, False, True]
pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

In [6]:
#The index will be unique.

## Create a Series Object from a Dictionary

In [7]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Red",
    "Eel": "Brown"
}

#Series Objects are kept in order.If the key is a different type, it'll use the keys as the identifier. 

pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

## Intro to Series Methods
- The syntax to invoke a method on any object is `object.method()`.
- The `sum` method adds together the **Series'** values.
- The `product` method multiplies the **Series'** values.
- The `mean` method finds the average of the **Series'** values.
- The `std` method finds the standard deviation of the **Series'** values.

In [8]:
prices = pd.Series([2.99, 4.33, 1.24])
prices

0    2.99
1    4.33
2    1.24
dtype: float64

In [9]:
prices.sum()

np.float64(8.56)

In [10]:
prices.product()

np.float64(16.053908000000003)

In [11]:
prices.mean()

np.float64(2.8533333333333335)

In [12]:
prices.std()

1.5495268094916375

## Intro to Attributes
- An **attribute** is a piece of data that lives on an object.
- An **attribute** is a fact, a detail, a characteristic of the object.
- Access an attribute with `object.attribute` syntax.
- The `size` attribute returns a count of the number of values in the **Series**.
- The `is_unique` attribute returns True if the **Series** has no duplicate values.
- The `values` and `index` attributes return the underlying objects that holds the **Series'** values and index labels.

In [13]:
adjectives = pd.Series(["Smart","Handsome", "Brilliant", "Humble", "Smart"])
adjectives

0        Smart
1     Handsome
2    Brilliant
3       Humble
4        Smart
dtype: object

In [14]:
adjectives.size

5

In [15]:
adjectives.is_unique

False

In [18]:
adjectives.values

#This gives us the underlying object that is holding the strings in the series.

array(['Smart', 'Handsome', 'Brilliant', 'Humble', 'Smart'], dtype=object)

In [17]:
adjectives.index

#Gives us the object that is holding the indicies.

RangeIndex(start=0, stop=5, step=1)

In [20]:
type(adjectives.values)

numpy.ndarray

## Parameters and Arguments
- A **parameter** is the name for an expected input to a function/method/class instantiation.
- An **argument** is the concrete value we provide for a parameter during invocation.
- We can pass arguments either sequentially (based on parameter order) or with explicit parameter names written out.
- The first two parameters for the **Series** constructor are `data` and `index`, which represent the values and the index labels.

In [22]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]

In [23]:
pd.Series(fruits)

0         Apple
1        Orange
2          Plum
3         Grape
4     Blueberry
5    Watermelon
dtype: object

In [28]:
pd.Series(weekdays)
pd.Series(fruits, weekdays)
pd.Series(weekdays, fruits)

    #If you press shift-tab after the first parenthesis it will bring up the documentation for the class. The documentation tells you the list of parameters that can be passed to the class and if you follow the order of the parameters listed in the documentation you can input different objects to fill the arguments and get more customizable data, as shown above. The order of parameters is crucial if you are not providing the parameter name. If you do provide the parameter name you don't have to worry about order. Position and parameter name, remember.

Apple            Monday
Orange          Tuesday
Plum          Wednesday
Grape          Thursday
Blueberry        Friday
Watermelon       Monday
dtype: object

In [29]:
pd.Series(data=fruits, index=weekdays)

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

In [30]:
pd.Series(index=weekdays, data=fruits)

#Case in point

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

In [31]:
pd.Series(fruits, index=weekdays)

#Mixing and matching allows you to skip needless parameters and go straight to a named parameter that you want to specifically include.

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

## Import Series with the pd.read_csv Function
- A **CSV** is a plain text file that uses line breaks to separate rows and commas to separate row values.
- Pandas ships with many different `read_` functions for different types of files.
- The `read_csv` function accepts many different parameters. The first one specifies the file name/path.
- The `read_csv` function will import the dataset as a **DataFrame**, a 2-dimensional table.
- The `usecols` parameter accepts a list of the column(s) to import.
- The `squeeze` method converts a **DataFrame** to a **Series**.

In [35]:
pokemon = pd.read_csv("pokemon.csv", usecols=['Name']).squeeze("columns")
pokemon
#Keep your dataset in the same directory as your notebook.
#usecols specifies what columns you want to include.

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [ ]:
#A dataframe is a 2 dimensional table with rows and columns.

In [ ]:
pd.Series([1,2,3])
#This is a 1 dimensional series.

In [39]:
google = pd.read_csv('google_stock_price.csv', usecols=["Price"]).squeeze("columns")
google

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
Name: Name, dtype: object

4791    137.050003
4792    138.429993
Name: Price, dtype: float64

## The head and tail Methods
- The `head` method returns a number of rows from the top/beginning of the `Series`.
- The `tail` method returns a number of rows from the bottom/end of the `Series`.

In [ ]:
pokemon.head()
pokemon.head(5)
pokemon.head(n=5)

pokemon.head(8)
pokemon.head(1)

In [ ]:
google.tail()
google.tail(7)
google.tail(n=2)

## Passing Series to Python's Built-In Functions
- The `len` function returns the length of the **Series**.
- The `type` function returns the type of an object.
- The `list` function converts the **Series** to a list.
- The `dict` function converts the **Series** to a dictionary.
- The `sorted` function converts the **Series** to a sorted list.
- The `max` function returns the largest value in the **Series**.
- The `min` function returns the smalllest value in the **Series**.

In [50]:
pokemon = pd.read_csv("pokemon.csv", usecols=['Name']).squeeze("columns")
google = pd.read_csv('google_stock_price.csv', usecols=["Price"]).squeeze("columns")

In [51]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [66]:
len(pokemon)
type(pokemon)
list(pokemon)
sorted(pokemon)
type(sorted(pokemon))

sorted(google)

dict(pokemon)

max(google)
min(google)

max(pokemon)
min(pokemon)
#sorted by default loads the data in ascending order for you. list converts the series into a list. dict tries to convert a series into a dictionary, the index labels in the series become the keys. If you run the max or min function on a series of strings it'll give you the word that is closest to the end of the alphabet for max and the word that is closest to the beginning of the alphabet for min.

'Abomasnow'

## Check for Inclusion with Python's in Keyword
- The `in` keyword checks if a value exists within an object.
- The `in` keyword will look for a value in the **Series's** index.
- Use the `index` and `values` attributes to access "nested" objects within the **Series**.
- Combine the `in` keyword with `values` to search within the **Series's** values.

In [68]:
pokemon = pd.read_csv("pokemon.csv", usecols=['Name']).squeeze("columns")
google = pd.read_csv('google_stock_price.csv', usecols=["Price"]).squeeze("columns")

pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [70]:
'car' in 'racecar'

#Be aware that "in" checks among the series indicies by default, not the values. 

"Bulbasaur" in pokemon

False

In [71]:
0 in pokemon

True

In [73]:
5 in pokemon.index

True

In [74]:
"Bulbasaur" in pokemon.values
#This is how you search values, using the values attribute.

True

## The sort_values Method
- The `sort_values` method sorts a **Series** values in order.
- By default, pandas applies an ascending sort (smallest to largest).
- Customize the sort order with the `ascending` parameter.

## The sort_index Method
- The `sort_index` method sorts a **Series** by its index.
- The `sort_index` method also accepts an `ascending` parameter to set sort order.

## Extract Series Value by Index Position
- Use the `iloc` accessor to extract a **Series** value by its index position.
- `iloc` is short for "index location".
- Python's list slicing syntaxes (slices, slices from start, slices to end, etc.) are supported with **Series** objects.

## Extract Series Value by Index Label
- Use the `loc` accessor to extract a **Series** value by its index label.
- Pass a list to extract multiple values by index label.
- If one index label/position in the list does not exist, Pandas will raise an error.

## The get Method on a Series
- The `get` method extracts a **Series** value by index label. It is an alternative option to square brackets.
- The `get` method's second argument sets the fallback value to return if the label/position does not exist.

## Overwrite a Series Value
- Use the `loc/iloc` accessor to target an index label/position, then use an equal sign to provide a new value.

## The copy Method
- A **copy** is a duplicate/replica of an object.
- Changes to a copy do not modify the original object.
- A **view** is a different way of looking at the *same* data.
- Changes to a view *do* modify the original object.
- The `copy` method creates a copy of a pandas object.

## Math Methods on Series Objects
- The `count` method returns the number of values in the **Series**. It excludes missing values; the `size` attribute includes missing values.
- The `sum` method adds together the **Series's** values.
- The `product` method multiplies together the **Series's** values.
- The `mean` method calculates the average of the **Series's** values.
- The `std` method calculates the standard deviation of the **Series's** values.
- The `max` method returns the largest value in the **Series**.
- The `min` method returns the smallest value in the **Series**.
- The `median` method returns the median of the **Series** (the value in the middle).
- The `mode` method returns the mode of the **Series** (the most frequent alue).
- The `describe` method returns a summary with various mathematical calculations.

## Broadcasting
- **Broadcasting** describes the process of applying an arithmetic operation to an array (i.e., a **Series**).
- We can combine mathematical operators with a **Series** to apply the mathematical operation to every value.
- There are also methods to accomplish the same results (`add`, `sub`, `mul`, `div`, etc.)

## The value_counts Method
- The `value_counts` method returns the number of times each unique value occurs in the **Series**.
- The `normalize` parameter returns the relative frequencies/percentages of the values instead of the counts.

## The apply Method
- The `apply` method accepts a function. It invokes that function on every `Series` value.

## The map Method
- The `map` method "maps" or connects each **Series** values to another value.
- We can pass the method a dictionary or a **Series**. Both types connects keys to values.
- The `map` method uses our argument to connect or bridge together the values.